@charset "utf-8";

/* reset css */
* {
  margin: 0;
  padding: 0;
}

/* main */
 body{
   background-image: url(zelda_backCG.jpg), url(zelda_rogo.png);
   background-repeat: no-repeat, no-repeat;
   background-color: lightgrey;
   margin: 5px;
   }

/* text-shadow */
#text-shadow{
  padding: 0 40px;
  font-size: 30px;
}

.drop_shadow{text-shadow: 2px 2px 3px grey;}
.grow       {color: white; 
            text-shadow: 0px 0px 5px grey;}

/* 角丸 */
.border-radius-one{
  border-radius: 50px;
  background-color: floralwhite;
  padding: 10px;
  margin: 5px;
}
.border-radius-two{
   border-radius: 5px 50px;
  background-color: floralwhite;
  padding: 10px;
  margin: 5px;
}
/* box-shadow */
#box-shadow{
  font-size: 30px;
}
.box-drop_shadow  {box-shadow: 2px 2px 5px grey;  padding: 5px; margin: 20px;}
.box-grow         {color: white;
                   box-shadow: 0px 0px 10px grey; padding: 5px; margin: 20px;}
/* box-sizing */
.box-sizing{
  width: 120px;
  padding: 10px;
  border: 10px;
  margin: 10px;
  border-style: solid;
  border-color: black;
}
.content-box{box-sizing:content-box;}
.border-box {box-sizing:border^box;}
